/*#mainmenu>ul>li:nth-child(2)>.megamenu-wrap{
    display: block !important;
    opacity: 1 !important;
}
#mainmenu>ul>li:nth-child(2)>.megamenu-wrap ul{
display: block !important;
}
*/
/*#newsletter-validate-detail{
	position: relative;
}
#newsletter-validate-detail button{
	position: absolute;
	right: 0;
	bottom: 5px;
	background-color: transparent;
}
svg{
	fill: currentColor!important;
}
.js-new-footer .ic-facebook:before{
display: none;
}
#svg-facebook{
	color: #39579a;
}
.js-new-footer .ic-twitter:before,
.js-new-footer .ic-instagram:before{
	width: 30px;
	height: auto;
}*/
    .js-new-footer_left,
    .js-new-footer_right{
        float: none;
        width: 100%;
        border: none !important;
    }