// FAQ
.kbase-category-view{
	#maincontent{
		margin-left: -15px;
		margin-right: -15px;

	}
	.kb__search-box{
		padding-bottom: 0 !important;
		margin-bottom: 0 !important;

	}
	.page-title-wrapper{
		background-color: #f5f5f5;
	}
	.js-faq_img-links{
		a{
			img{
				width: 150px;
			}
			display: block;
			// overflow: hidden;
			cursor: pointer;
		}
		display: flex;
		justify-content: space-between;
		padding-bottom: 100px;
		padding-top: 20px;
		padding-left: 15px;
		padding-right: 15px;

	}
h1{
	text-align: center;
	font-size: 43px;
	margin-bottom: 40px;
	padding-top: 40px;
}
.kb-category__grid{
	img{
		width: 150px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		margin-bottom: 20px;
	}
h2{
	text-align: center;
	width: 100%;
	font-size: 30px;
	margin-bottom: 10px;
}
	section{
		display: none;

		&:nth-child(1),
		&:nth-child(3),
		&:nth-child(5),
		&:nth-child(6),
		&:nth-child(2){
			display: block;
			margin-left: auto;
			margin-right: auto;
			// border: red solid;
		}

	}
.kb__category-view{
	text-align: center;
	border-bottom: #d8e5e8 solid 1px;
	padding-bottom: 15px;

}
ol{
	border-top: #d8e5e8 solid 1px;
	padding: 15px;

	i{
		display: none;
	}

}




// grid
}



// view
}


